* {
    margin: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
}
.display--box {
    display: flex;
    width: auto;
    height: 200px;
    background: #eee;
    border-radius: 40px;
    text-align: center;
    color: #333;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}
.calculator--keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-size: 24px;
}
.calculator--key {
    background-color: #CCC;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    flex-basis: 20%;
    text-align: center;
    color: #333;
    height: 50px;
    width: 0.1em;
}
.equal {
    display: flex;
    align-self: center;
    background: #4FF1AA;
}
.is-pressed {
    background-color: #888;
}
